.top__card1 {
  height: 704px;
  width: 1440px;
  background-image: url(https://fastly.picsum.photos/id/866/1440/704.jpg?hmac=eDd3BSGRVkKI5vEROdkd8reEKP5X6rWzuooJuUrnKqo);
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 80px;
}
.top__card1__card {
  width: 630px;
  height: 444px;
  background-color: white;
}
.top-title {
  font-family: "main-font";
}
.card1-title {
  font-family: "main-font";
  margin-left: 56px;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  margin-top: 48px;
}
.top-card1__desc {
  font-family: "satoshi";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 20px;
  margin-left: 56px;
}
